<h1 class="text-center"> <%= @place.city%> </h1>
<br>
<br>


<body background="background.jpg">
<%= image_tag(@place.image_link, size: "600x400", :class => "img-circle center-block") %>
<h1> <%= @place.cateogry %> </h1>
<h5> <%= @place.description %> </h5>

<br> 
<br>

<div class="row">
  <div class="col-xs-6"> <%= button_to 'Yes', update_response_path(:go => "True", :place => @place), {class: 'btn btn-success btn-lg pull-right'}  %></div>
  <div class="col-xs-6"> <%= button_to 'No', update_response_path(:go => nil, :place => @place), {class: 'btn btn-danger btn-lg'} %> </div>
</div>

